// Layout
@mixin for-mobile-layout {
    @media (max-width: $break-narrow) {
      @content;
    }
  }
  
  @mixin for-narrow-layout {
    @media (min-width: $break-narrow) {
      @content;
    }
  }
  
  @mixin for-normal-layout {
    @media (min-width: $break-normal) {
      @content;
    }
  }
  
  @mixin for-wide-layout {
    @media (min-width: $break-wide) {
      @content;
    }
  }

  @mixin layoutGTC($max) {
    grid-template-columns:
      minmax($layoutPadding, 1fr)
      minmax(auto, $max)
      minmax($layoutPadding, 1fr);
  }
  



// Customized range input mixins
@mixin slider-thumb {
    height: 1rem;
    width: 1rem;
    margin-top: -2px;
    border-radius: 50%;
    background-color: $clr2;
    box-shadow: -407px 0 0 400px $clr2;
}

@mixin slider-track {
    background-color: lighten($clr2, 30%);
    border-radius: 2em;
    height: 10px;
}