.hero {
    margin-block-start: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 6fr;
    width: 100%;
    

    @include for-normal-layout {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        height: 70vh;
    }

    img {
        position: absolute;
        grid-row: 2;
        height: 80%;
        object-fit: cover;
        justify-self: center;
        align-self: end;
        
        @include for-normal-layout {
            grid-column: 1/-1;
            grid-row: 1;
        }
    }

    h1 {
        grid-column: 1;
        grid-row: 1;
        z-index: 2;
        font-size: 2.8rem;
        align-self: center;
        justify-self: center;
        margin-inline-start: 1em;
        text-align: left;

        @include for-normal-layout {
            grid-row: 1;
        }
    }

    .hero-btn {
        grid-column: 1;
        width: max-content;
        padding: 1em;
        justify-self: center; 
        align-self: start;
        font-size: 1em;    
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        z-index: 3;
        transition: 0.4s;
        display:none;

        @include for-normal-layout {
            grid-row: 2;
            display: block;
        }

        &:hover {
            background-color: lighten($clr2, 20%);
        }
    }
}